{# app/Resources/views/App/_contact.html.twig #}

{{ form_start(form) }}
    <p class="col-xs-12 col-sm-4">
        {{ form_label(form.name, "Nom *") }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
    </p>

    <p class="col-xs-12 col-sm-4">
        {{ form_label(form.email, "Email *") }}
        {{ form_widget(form.email) }}
        {{ form_errors(form.email) }}
    </p>

    <p class="col-xs-12 col-sm-4">
        {{ form_label(form.object, "Objet") }}
        {{ form_widget(form.object) }}
        {{ form_errors(form.object) }}
    </p>

    <p class="col-xs-12 col-sm-12">
        {{ form_label(form.message, "Message *") }}
        {{ form_widget(form.message) }}
        {{ form_errors(form.message) }}
    </p>

{{ form_errors(form) }}

{{ form_widget(form.save, {'attr': {'class': 'submit-button'}}) }}
{{ form_end(form) }}